<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        aaaaaaah
        <ul></ul>
            <% for(let i=0;i<6;i++ ) { %>
                <li>
                      
                    <%= i %>
                </li>
                <%}%>
        </ul>
    </body>
</html>